.container {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
}

nav {
  padding: 10px;
}

a {
  margin: 5px;
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: underline;
}
